div(class="b-about container" id="b-about")
    div(class="row")
        div(class="col-lg-5 about content")
            p <b>SochiSat</b> - многопрофильная компания, осуществляем продажу, монтаж, разовое и долгосрочное обслуживание охранных систем, систем видеонаблюдения, домофонов и спутникового оборудования в сочи.


            p В нашем сервисном центре производится качественный ремонт настольных пк, ноутбуков, ресивиров и жк мониторов.
            p В магазине "SochiSat" по адресу: <b>г. Сочи, ул. Конституции 44</b> можно купить все сопутсвующие товары и расходные материалы по лучшим ценам в городе Сочи!
            p(class="text-right") <b>ОГРНИП</b> 314237328000031 </br> <b>ИНН</b> 233008524609

        div(class="services col-lg-offset-1 col-lg-6 content")
            ul(class="list-group")
                li(class="list-group-item list-group-item-warning")
                    h4 <span class="glyphicon glyphicon-hdd"></span> Спутниковое оборудование в Сочи
                li(class="list-group-item list-group-item-success")
                    h4 <span class="glyphicon glyphicon-tower"></span> Комплексные системы безопасности
                li(class="list-group-item list-group-item-info")
                    h4 <span class="glyphicon glyphicon-camera"></span> Установка видеонаблюдения в Сочи
                li(class="list-group-item list-group-item-danger")
                    h4 <span class="glyphicon glyphicon-wrench"></span> Ремонт компьютерной техники в Сочи


