div(class="b-about container")
    div(class="row")
        div(class="col-lg-5 content")
            p <b>SochiSat</b> - многопрофильная компания, осуществляем продажу, монтаж, разовое и долгосрочное обслуживание <b>охранных систем</b>, <b>систем видеонаблюдения</b>, <b>домофонов</b> и <b>спутникового тв в сочи</b>.


            p В нашем сервисном центре производится качественный <b>ремонт настольных пк</b>, <b>ноутбуков</b>, <b>ресивиров</b> и <b>жк мониторов</b>.
            p В <b>магазине "SochiSat"</b> по адресу: ул. Конституции 44 можно купить все сопутсвующие товары и расходные материалы по лучшим ценам в городе Сочи!


            div(class="contacts")
              h3 <small>тел.</small> 8(862) 237-27-30 &nbsp;<small>тел.</small> 8(918) 601-41-81


        div(class="col-lg-6 col-lg-offset-1")

            div(class="map col-no-padding")
                script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NJO1Ab9-r_efpwA4Af8RV8u1D8G5MAcG&width=10&height=10")
                h4 <small>Адрес:</small> г. Сочи, ул. Конституции 44 (Царм), 2 этаж.
