
.b-about

.b-about .content
  padding-top: 40px;
  margin-bottom: 30px;

.b-about .about
  margin-top: 30px;

.b-about .services
  text-align: center;

.b-about .content h4 > .glyphicon
  margin-right: 20px;

.b-about .map > ymaps
  min-width: 100%;
  min-height: 100%;

.b-about .map
  height: 380px;
  border: 2px solid #2285bb;
  border-radius: 5px;

.b-about .contacts h2
  text-align: right;

.b-about .contacts
  margin-top: 20px;


@media (max-width: 1376px)
  .b-about > row > *
    padding: 0 !important

  .b-about .content h4 > .glyphicon
    margin-right: 5px;


@media (max-width: 1024px)
  .b-about .services h4
    font-size: 100%;
