.b-about .content
  padding-top: 30px;

.b-about .map > ymaps
  min-width: 100%;
  min-height: 100%;

.b-about .map
  height: 380px;
  border: 2px solid #2285bb;
  border-radius: 5px;

.b-about .contacts h2
  text-align: right;


@media (max-width: 1376px)
  .b-about > row > *
    padding: 0 !important

