div(class="b-about container")
    div(class="row")
        div(class="col-lg-5")
            p <b>SochiSat</b> - многопрофильная компания, осуществляем продажу, монтаж, разовое и долгосрочное обслуживание <b>охранных систем</b>, <b>систем видеонаблюдения</b> (аналоговые и ip видеокамеры, антивандальные видеокамеры), <b>домофонов</b> и <b>спутникового тв в сочи</b>.


            p В нашем сервисном центре можно получить бесплатную первичную диагностику и <b>ремонт настольных пк</b>, <b>ноутбуков</b>, <b>ресивиров</b> и <b>жк мониторов</b> по разумным ценам.
            p В <b>магазине "SochiSat"</b> по ул. Конституции 44 можно купить все сопутсвующие товары и расходные материалы по лучшим ценам в городе Сочи!
        div(class="col-lg-6 col-lg-offset-1")
            ul(class="col-sm-4 col-no-padding")
                li 8 (862) 237-27-30
                li 8 (918) 601-41-81
                li sochisat.ru@mail.ru
                li ул. Конституции 44

            div(class="col-sm-8 map col-no-padding")
                script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NJO1Ab9-r_efpwA4Af8RV8u1D8G5MAcG&width=100&height=250")

