div(class="b-about container" id="b-about")
    div(class="row")
        div(class="col-lg-5 about content")
            h3 О компании
            p <b>SochiSat</b> - многопрофильная компания, осуществляем продажу, монтаж, разовое и долгосрочное обслуживание охранных систем, систем видеонаблюдения, домофонов и спутникового оборудования в сочи.


            p В нашем сервисном центре производится качественный ремонт настольных пк, ноутбуков, ресивиров и жк мониторов.
            p В магазине "SochiSat" можно купить все сопутсвующие товары и расходные материалы по лучшим ценам в городе Сочи!

            p(class="text-right") <b>Адрес:</b> г. Сочи, ул. Конституции 44



        div(class="services col-lg-offset-1 col-lg-6 content")
            div(class="map")
             script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NJO1Ab9-r_efpwA4Af8RV8u1D8G5MAcG&width=10&height=10")

div(class="b-exp container")
    div(class="sochisat-line")

