div(class="b-about container" id="b-about")
    //div(class="row")
        div(class="col-lg-10 col-lg-offset-1 about content")
            h3 О компании
            p <b>SochiSat</b> - многопрофильная компания, осуществляем продажу, монтаж, разовое и долгосрочное обслуживание охранных систем, систем видеонаблюдения, домофонов и спутникового оборудования в сочи.
            p В нашем сервисном центре производится качественный ремонт настольных пк, ноутбуков, ресивиров и жк мониторов. А в магазине "СочиСэт" можно купить все сопутсвующие товары и расходные материалы по лучшим ценам в городе Сочи!

div(class="b-exp container")
    div(class="sochisat-line")

