div(class="b-slider" class="hidden-xs")
    div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
        div(class="carousel-inner")
            div(class="item active building active")
                img(src="img/slides/empty.png" alt="...")
                div(class="carousel-caption fadein row")
                    div(class="sliderHeader col-md-7 col-lg-6 col-sm-6")
                        h1 Слаботочные сети</br>
                        p( class="text-right text-gold") Продажа, монтаж, обслуживание
                        p
                        p Спутниковое ТВ (<gold-light>НТВ+</gold-light>, <gold-light>ТРИКОЛОР</gold-light>)
                        p Видеонаблюдение и домофоны
                        p СКУД, охранная сигнализаця
                        p Ремонт ПК и ТВ

                    div(class="col-lg-4 col-md-5 col-sm-5 col-lg-offset-1")
                        form(class="form-inline" role="form")
                            h3 Перезвонить Вам?
                            div(class="form-group")
                                label(class="sr-only" for="form-name") ФИО
                                input(type="email" class="form-control input-lg" id="form-name" placeholder="ФИО")
                                br
                                label(class="sr-only" for="form-contacts") Email или телефон
                                input(type="email" class="form-control input-lg" id="form-contacts" placeholder="Email или телефон")
                                button(type="button" class="btn btn-primary btn-lg btn-block") Отправить
