div(id="b-services" class="container marketing")

    div(class="row")
        div(class="col-lg-4 col-md-12 col-sm-12 col-xs-12")

            div(class="col-md-6 col-lg-12 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/cam.png"  alt="Установка видеонаблюдения в Сочи" style="width: 140px;")
                    div(class="caption")
                        h3 Видеонаблюдение </br>
                            small продажа, монтаж, обслуживание
                        p
                            a(class="btn btn-yellow" href="cctv.html") Доп. информация
                                span(class="glyphicon glyphicon-chevron-right")

            div(class="col-md-6 col-lg-12 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/laptop.png"  alt="Ремонт ноутбуков в Сочи, Ремонт компьютеров в Сочи, Ремонт телевизоров в Сочи" style="width: 140px;")
                    div(class="caption")
                        h3 Ремонт компьютеров </br>
                            small ноутбуков, нетбуков, ультрабуков
                        p
                            a(class="btn btn-default btn-yellow"  href="pc.html") Доп. информация
                                span(class="glyphicon glyphicon-chevron-right")


        div(class="col-lg-4 col-md-12 col-sm-12 col-xs-12")
            div(class="col-md-6 col-lg-12 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/homePhone.png"  alt="Установка домофонов и охранных систем в Сочи" style="width: 140px;")
                    div(class="caption")
                        h3 Домофоны </br>
                            small продажа, монтаж, ремонт
                        p
                            a(class="btn btn-default btn-yellow" href="intercoms.html") Доп. информация
                                span(class="glyphicon glyphicon-chevron-right")


            div(class="col-md-6 col-lg-12 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/tv.png" alt="Ремонт ноутбуков в Сочи, Ремонт компьютеров в Сочи, Ремонт телевизоров в Сочи" style="width: 140px;")
                    div(class="caption")
                        h3 Ремонт телевизоров</br>
                            small ЭЛТ, LCD, PDP, LED
                        p
                            a(class="btn btn-default btn-yellow" href="#") Доп. информация
                                span(class="glyphicon glyphicon-chevron-right")
        div(class="col-lg-4 col-md-12 col-sm-12 col-xs-12")
            div(class="col-md-6 col-lg-12 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/sat.png"  alt="Спутниковое оборудовние. Триколор, НТВ+, ресиверы, монтаж спутниковых тарелок в Сочи" style="width: 140px;")
                    div(class="caption")
                        h3 Спутниковое ТВ </br>
                            small продажа, монтаж, ремонт
                        p
                            a(class="btn btn-default btn-yellow" href="sat.html") Доп. информация
                                span(class="glyphicon glyphicon-chevron-right")

            div(class="col-md-6 col-lg-12 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/signal.png"  alt="Установка домофонов и охранных систем в Сочи" style="width: 140px;")
                    div(class="caption")
                        h3 Охранные сигнализации </br>
                            small продажа, монтаж, обслуживание
                        p
                            a(type="button" class="btn btn-default btn-yellow" href="sec.html") Доп. информация
                                span(class="glyphicon glyphicon-chevron-right")

