div(class="row")
    div(class="b-tittle container text-center")
        h1(class="text-uppercase  bold") sochisat</br> <small>Слаботочные системы</small>
        span(class="text-uppercase text-red loader-span") *
        div(class="b-tittle__description") <b>Sochisat</b> — многопрофильная компания. Продажа, монтаж, долгосрочное обслуживание: </br> охранных систем, систем видеонаблюдения, домофонов и спутникового оборудования в сочи.

     //   div(class="b-tittle__list row text-cente")
            a(class="glyphicon glyphicon-envelope col-lg-4" href="#")  mail@sochisat.ru
            a(class="glyphicon glyphicon-phone-alt col-lg-4" href="#")  8(862)237-27-30
            a(class="glyphicon glyphicon-earphone col-lg-4" href="#")  8(918)601-41-81







