div(class="b-team" id="b-team")
   // div(class="container")
        h3(class="text-center") Наша команда

        div(class="row")
            div(class="col-sm-6 col-md-3")
                img(class="img-thumbnail" style="max-width: 150px;"  alt="...")
                div(class="caption")
                    h3 Владимир Клочков
                    p(class="text-info") Специалист по слаботочным системам

            div(class="col-sm-6 col-md-3")
                img(class="img-thumbnail" style="max-width: 150px;" src="img/lev-team.png" alt="...")
                div(class="caption")
                    h3 Легкодымов Лев
                    p(class="text-info") IT специалист, инженер

            div(class="col-sm-6 col-md-3")
                img(class="img-thumbnail" style="max-width: 150px;"  alt="...")
                div(class="caption")
                    h3 Зиновьев Евгений
                    p(class="text-info") Руководитель монтажной бригады

            div(class="col-sm-6 col-md-3")
                img(class="img-thumbnail" style="max-width: 150px;"  alt="...")
                div(class="caption")
                    h3 Берешпалов Григорий
                    p(class="text-info") Руководитель монтажной бригады
