.b-contacts .map
  height: 100% !important;
  padding: 0;


.b-contacts .map > ymaps

  width: 100% !important;
  height: 100% !important;

.b-contacts
  margin: 0;
.b-contacts .logo
  padding-top: 5px;

.b-contacts .col-lg-3
  padding: 0px;
.b-contacts .navbar, navbar-default
  margin: 0px;
  background: none;
  border: none;
