//div(class="b-header b-contacts-v")
    nav(class="navbar navbar-default" role="navigation")
        div
            div(class="col-lg-12")
                div(class="navbar-header row")

                    a(class="logo navbar-brand col-md-12") SOCHI<color class="red-color">SAT</color>

                    ul(class="nav navbar-nav col-md-12")
                        li(class="")
                            a(href="#") Главная

                        li(class="active")
                            a(href="#") О компании

                        li(class="")
                            a(href="#") Контакты

                        li(class="")
                            a(href="#") Услуги


                    ul(class="nav navbar-nav col-md-12")
                        li
                            a(class="glyphicon glyphicon-envelope" href="#")  mail@sochisat.ru
                        li
                            a(class="glyphicon glyphicon-phone-alt" href="#")  8(862)237-27-30
                        li
                            a(class="glyphicon glyphicon-earphone" href="#")  8(918)601-41-81

