div(class="b-comments container" id="b-comments")
    div(class="row")
        div(class="col-lg-4")
            h3 Мы работали с:
            div(class="b-work-with" id="b-work-with")
                span(class="label label-primary" data-toggle="tooltip" data-placement="top" title="") МУП "Сочиавтотранс"
                span(class="label label-info" data-toggle="tooltip" data-placement="top" title="")    ООО "Казачий брод"
                span(class="label label-info" data-toggle="tooltip" data-placement="top" title="") ООО "МИЛЛЕНИУМ-ЮГ"
                span(class="label label-primary" data-toggle="tooltip" data-placement="top" title="") Санаторий "Искра"
                span(class="label label-info" data-toggle="tooltip" data-placement="top" title="") ООО "Вавилон"
                span(class="label label-info" data-toggle="tooltip" data-placement="top" title="") ООО "Волшебный мир"





        div(class="col-lg-8")
            h3 Отзывы:

            blockquote(class="comment" style="display: block")
                p <b>ООО "Казачий брод"</b> выражает глубокую признательность и искреннюю благодарность Клочкову В.В. , а также монтажнику Зиновьеву Е.С. за качественную и оперативную работу по установке системы видеонаблюдения в магазине "Продукты" по ул. Тоннельная 16, г. Сочи. Выражаем уверенность в сохраненнии сложившихся дружественных отношений и надеемся на дальнейшее взаимовыгодное и плодотворное сотрудничество.
                footer Генеральный директор ООО "Казачий брод"

            blockquote(class="comment")
                p <b>ООО "Казачий брод2"</b> выражает глубокую признательность и искреннюю благодарность Клочкову В.В. , а также монтажнику Зиновьеву Е.С. за качественную и оперативную работу по установке системы видеонаблюдения в магазине "Продукты" по ул. Тоннельная 16, г. Сочи. Выражаем уверенность в сохраненнии сложившихся дружественных отношений и надеемся на дальнейшее взаимовыгодное и плодотворное сотрудничество.
                footer Генеральный директор ООО "Казачий брод"

            blockquote(class="comment")
                p <b>ООО "Казачий брод3"</b> выражает глубокую признательность и искреннюю благодарность Клочкову В.В. , а также монтажнику Зиновьеву Е.С. за качественную и оперативную работу по установке системы видеонаблюдения в магазине "Продукты" по ул. Тоннельная 16, г. Сочи. Выражаем уверенность в сохраненнии сложившихся дружественных отношений и надеемся на дальнейшее взаимовыгодное и плодотворное сотрудничество.
                footer Генеральный директор ООО "Казачий брод"

            blockquote(class="comment")
                p <b>ООО "Казачий брод4"</b> выражает глубокую признательность и искреннюю благодарность Клочкову В.В. , а также монтажнику Зиновьеву Е.С. за качественную и оперативную работу по установке системы видеонаблюдения в магазине "Продукты" по ул. Тоннельная 16, г. Сочи. Выражаем уверенность в сохраненнии сложившихся дружественных отношений и надеемся на дальнейшее взаимовыгодное и плодотворное сотрудничество.
                footer Генеральный директор ООО "Казачий брод"

            ul(class="pager")
                li(class="previous")
                    a(ui-href="previous") &larr; Предыдущий
                li(class="next")
                    a(ui-href="next") Следующий &rarr;


