div(class="header-content" style="background: url('img/slides/sat.png'); max-height: 564px; min-height: 564px")
    div(class="container")
        div(class="m-top-20")
            form(class="form-inline" role="form")
                div(class="text-center fadein")
                    h1(style="color:#fff; font-size: 700%; margin-top: 12%") Спутниковое ТВ</br>
                        small(class="text-gold")  Продажа, монтаж, ремонт

