div(class="b-slider" class="hidden-xs")
    div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
        div(class="carousel-inner ")
            div(class="item cctv active")
                img(src="img/slides/sat.png" alt="...")
                div(class="carousel-caption fadein row")
                    div(class="sliderHeader col-md-7 col-lg-6 col-sm-6 col-lg-offset-2")
                        h1 Спутниковое ТВ</br>
                        p( class="text-right text-gold") Продажа, монтаж, ремонт
                        p
                        p Ресиверы (<gold-light>НТВ+</gold-light>, <gold-light>ТРИКОЛОР</gold-light>)
                        p Антенны, расходные материалы
                        p Монтаж и настройка спутникового тв


                    div(class="col-lg-4 col-md-5 col-sm-5 ")
                        form(class="form-inline" role="form")
                            h3 Перезвонить Вам?
                            div(class="form-group")
                                input(type="email" class="form-control input-lg" id="form-name" placeholder="ФИО")
                                br

                                input(type="email" class="form-control input-lg" id="form-contacts" placeholder="Email или телефон")
                                button(type="button" class="btn btn-success btn-lg btn-block") Отправить
