div(class="b-exp container text-center m-top-50")
    div(class="sochisat-line")

div(class="container marketing b-services-icon m-top-20")

        div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")

            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/ntv.png")
                    div(class="caption")
                        h3(class="hide") НТВ+


            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/color3.jpg")
                    div(class="caption")
                        h3(class="hide") Триколор


        div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    img(src="img/rainbow.jpg")
                    div(class="caption")
                        h3(class="hide") Радуга тв



            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                     img(src="img/telecard.jpg")
                     div(class="caption")
                         h3(class="hide") Телекарта

div(class="b-exp container text-center m-top-20")
    div(class="sochisat-line")

div(class="container marketing b-services-icon m-top-20")
    div(class="col-lg-6")
        h2(class="text-left") Комплект НТВ+ </br>
            small с возможностью подключения  </br>
            e на 3 года! </br></br>
            small Подробности уточняйте у менеджеров магазина



    div(class="col-lg-6")
        img(src="img/slides/tv.png" alt="..." style="max-width: 100%")


div(class="container marketing b-services-icon m-top-50")

    h2(class="text-center bottom-border-red") Наши услуги
    br
    br
    br
    br

    div(class="row")
        div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")

            div(class="col-md-4 col-lg-4 col-sm-4 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-shopping-cart" style="font-size: 600%")
                    div(class="caption")
                        h3 Продажа </br>
                            small Только лучшее оборудование
                        p


            div(class="col-md-4 col-lg-4 col-sm-4 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-wrench" style="font-size: 600%")
                    div(class="caption")
                        h3 Монтаж </br>
                            small Продление срока службы
                        p


            div(class="col-md-4 col-lg-4 col-sm-4 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-cog" style="font-size: 600%")
                    div(class="caption")
                        h3 Ремонт </br>
                            small Что-то не работает? Исправим!
                        p
div(class="how-it-work")
    div(class="container marketing b-services-icon m-top-50")
        h2(class="text-center bottom-border-gold") Почему именно мы?
        br
        br
        div(class="row")
            div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") 2006
                        div(class="caption")
                            h3 На рынке 8 лет </br>
                                small Доверьтесь нашему опыту
                            p
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") <+>
                        div(class="caption")
                            h3 Гарантия </br>
                                small Не работает? Обменяем
                            p
            div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") 700+
                        div(class="caption")
                            h3 Клиентов ежегодно </br>
                                small Люди хотят работать с нами
                            p
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(class="glyphicon glyphicon-thumbs-up" style="font-size: 400%; font-weight: bold; margin-top: 20px")
                        div(class="caption")
                            h3 Регулярные акции </br>
                                small Для постоянных клиентов
                            p
