doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        link(rel="stylesheet" href="css/app.css")
        script(src="js/vendor.js")
        script(src="js/app.js")

    body
        //include blocks/header/header.static.jade
        //include blocks/slider/slider.static.jade
        include blocks/header/header.static.jade
        div(class="b-slider" class="hidden-xs")
            div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
                div(class="carousel-inner ")
                    div(class="item cctv active")
                        img(src="img/slides/cam.jpg" alt="...")
                        div(class="carousel-caption fadein row")




                            div(class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 ")
                                form(class="form-inline" role="form")
                                    div(class="visible-lg")
                                        h1 Видеонаблюдение</br>
                                        p( class="text-right text-gold") Продажа, монтаж, обслуживание

                                    h3 Перезвонить Вам?
                                    div(class="form-group")
                                        input(type="email" class="form-control input-lg" id="form-name" placeholder="ФИО")
                                        br
                                        input(type="email" class="form-control input-lg" id="form-contacts" placeholder="Email или телефон")
                                        button(type="button" class="btn btn-danger btn-lg btn-block") Отправить


        div(class="b-about container wrapper")

            div(class="row")
                div(class="col-lg-6 about content")
                    h1 Видеонаблюдение в Сочи
                    p Системы видеонаблюдения - одно из основных направлений компании "СочиСэт". </br> Оказываем комплекс услуг от продажи до установки и обслуживания видеонаблюдения в Сочи.
                    p <b>Купить видеонаблюдение</b> можно в нашем магазине. </br> Адрес: г.Сочи, ул.Конституции 44. </br></br>Всегда в наличии:
                    ul
                        li  камеры видеонаблюдения (ip и аналоговые)
                        li  видеорегистраторы
                        li  жесткие диски
                        li  защитные кожухи
                        li  расходные материалы и все сопутсвующие товары


                div(class="services  col-lg-6 content")
                    div(class="map")
                        script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NJO1Ab9-r_efpwA4Af8RV8u1D8G5MAcG&width=10&height=10")

            div(class="b-exp container")
                div(class="sochisat-line")
            div(class="row")
                div(class="col-lg-12 about content")
                    h3 Монтаж видеонаблюдения
                    p Наши специалисты проведут оценку объекта, спроектируют систему видеонаблюдения в зависимости от индивидуальных особенностей, подберут оборудование, которое больше всего подходит для конкретного обьекта и произведут качественный монтаж.
                    p Так же возможна настройка удаленного ip видеонаблюдения! Наблюдайте за своим объектом из любой точки мира, где есть интеренет или в рамках одной сети с помощью мобильных устройств и стационарных компьютеров

                    br
                    h3 Обслуживание видеонаблюдения
                    p Но не стоит забывать что ежедневно оборудование подвергается механическим и химическим воздействиям. Чтобы комплект видеонаблюдения прослужил максимально долго и без сбоев требуется обслуживание, частота которого индивидуальна и диктуется внешней средой.
                    p Наша компания готова решить и эту задачу, мы производим долгосрочное обслуживание камер видеонаблюдения в Сочи.
                    h3 Где это используется?
                    p Видеонаблюдение необходимо для офисных и производственных помещений, магазинов, частных домов и других объектов, которые нуждаются в круглосуточной охране. Установка камер видеонаблюдения значительно повысит уровень безопасности, предотвратит возможные издержки, воровство, акты вандализма и окажет психологическое влияние на злоумышленика. </br>Поможет Вам наблюдать за работой сотрудников тем самым увеличив продуктивность.



        include blocks/footer/footer.static.jade
        script setPage('cctv.html');