doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        link(rel="stylesheet" href="css/app.css")
        script(src="js/vendor.js")
        script(src="js/app.js")

    body
        //include blocks/header/header.static.jade
        //include blocks/slider/slider.static.jade

        div(class="container wrapper")
            div(class="row")
                include ../blocks/left-side/left-side.static
                div(class="col-lg-10")
                    h1 Видеонаблюдение в Сочи
                    p Системы видеонаблюдения - одно из основных направлений компании "СочиСэт".
                    p Оказываем комплекс услуг от продажи до установки и обслуживания видеонаблюдения в Сочи.
                    h2 Купить видеонаблюдение
                    p Можно в нашем магазине по адресу: г.Сочи ул. Конституции 44
                    p Всегда в наличии: камеры видеонаблюдения, видеорегистраторы, жесткие диски, защитные кожухи, расходные материалы и все сопутсвующие товары.
                    h2 Монтаж видеонаблюдения
                    p Наши специалисты проведут оценку объекта, спроектируют систему видеонаблюдения в зависимости от индивидуальных особенностей, подберут оборудование, которое как нельзя лучше подходит для конкретного обьекта и произведут качественный монтаж.
                    h2 Обслуживание видеонаблюдения
                    p Но не стоит забывать что ежедневно оборудование подвергается механическим и химическим воздействиям. Чтобы комплект видеонаблюдения прослужил максимально долго и без сбоев требуется обслуживание, частота которого индивидуальна и диктуется внешней средой.
                    p Наша компания готова решить и эту задачу, мы производим долгосрочное обслуживание камер видеонаблюдения в Сочи.
                    p Видеонаблюдение необходимо для офисных и производственных помещений, магазинов, частных домов и других объектов, которые нуждаются в круглосуточной охране. Установка камер видеонаблюдения значительно повысит уровень безопасности, предотвратит возможные издержки, воровство, акты вандализма и окажет психологическое влияние на злоумышленика.
                    p Поможет Вам наблюдать за работой сотрудников тем самым увеличив продуктивность, обезопасить себя, свою семью, дом, дело.
                    p Так же возможна настройка удаленного ip видеонаблюдения из любой точки мира, где есть интеренет или в рамках одной сети с помощью мобильных устройств и стационарных компьютеров
