doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        link(rel="stylesheet" href="css/app.css")
        script(src="js/vendor.js")
        script(src="js/app.js")

    body
        include blocks/header/header.static.jade
        //include blocks/slider/slider.static.jade
        div(class="b-about container" id="b-about")
            div(class="row")
                div(class="col-lg-5 about content")
                    h3 О компании
                    p <b>SochiSat</b> - многопрофильная компания, осуществляем продажу, монтаж, разовое и долгосрочное обслуживание охранных систем, систем видеонаблюдения, домофонов и спутникового оборудования в сочи.


                    p В нашем сервисном центре производится качественный ремонт настольных пк, ноутбуков, ресивиров и жк мониторов.
                    p В магазине "SochiSat" по адресу: <b>г. Сочи, ул. Конституции 44</b> можно купить все сопутсвующие товары и расходные материалы по лучшим ценам в городе Сочи!
                    p(class="text-right") <b>ОГРНИП</b> 314237328000031 </br> <b>ИНН</b> 233008524609

                div(class="services col-lg-offset-1 col-lg-6 content")
                    div(class="map")
                        script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NJO1Ab9-r_efpwA4Af8RV8u1D8G5MAcG&width=10&height=10")
