
@import "http://webfonts.ru/import/roboto.css";

ul li
  list-style-type: none;

body
  position: relative;

.col-no-padding
  padding: 0 !important


.text-grey
  color: #5e5e5e



.sochisat-line
  margin: 0 100px 0 100px;
  border-top: 1px solid #f4f4f4;

.bg-grey
  background: #f6f6f6;

.img-circle
  border: 1px solid #303030