doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        link(rel="stylesheet" href="css/app.css")
        script(src="js/vendor.js")
        script(src="js/app.js")

    body(ng-app="sochisat" data-spy="scroll" data-target=".navbar-collapse")
        include blocks/header/header.static.jade
        div(class="b-slider" class="hidden-xs")
            div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
                div(class="carousel-inner")
                    div(class="item active building active")
                        img(src="img/slides/build.jpg" alt="...")
                        div(class="carousel-caption fadein")
                            h2 Торгово-монтажная организация </br>
                                small Специализируемся на слаботочных системах

        //include blocks/slider/slider.static.jade
        include blocks/about/about.static.jade
        include blocks/services/services.static.jade
        include blocks/team/team.static.jade
        //include blocks/comments/comments.static.jade
        include blocks/footer/footer.static.jade
        //include blocks/employees/employees.static.jade

    script setPage('/');

