div(class="b-about container wrapper")

    div(class="row")
        div(class="col-lg-8 col-lg-offset-2  content")

            blockquote(style="font-size: 90%;")
                h2  Видеонаблюдение в Сочи
                p Системы видеонаблюдения - одно из основных направлений компании "СочиСэт". Оказываем комплекс услуг от продажи до установки и обслуживания.
                h3 Монтаж видеонаблюдения
                p Мы проведем оценку объекта, спроектируем систему и подберем наиболее подходящее оборудования исходя индивидуальных особенностей. Специалисты компании "СочиСэт" являются исключительно квалифицированными работниками и имеют огромный опыт в области монтажа охранных систем. Поэтому установку необходимо доверить именно им.
                p Многие хотят сэкономить и произвести монтаж  самостоятельно, но зачастую такие системы не долговечны, а установка  может быть сильно осложнена индивидульными особенностями здания, местности, климата. Все это влияет на срок службы системы видеонаблюдения. Если не хотите выбросить деньги на ветер то доверьте выбор камер, видеорегистраторов, другого оборудования и установку  профессионалам, которые сделали не менее сотни обьектов.
                p Установка видеонаблюдения в Сочи производится по стандартным тарифам, но расчет стоимости происходит в индивидуальном порядке. В качестве акции наши работники бесплатно проведут замеры, проектирование, подбор оборудования. Плата взымается только за непосредственную установку видеонаблюдения и покупку оборудования.
                h3 Купить видеонаблюдение
                p Можно в нашем магазине по адресу: г.Сочи ул. Конституции 44 Всегда в наличии: камеры видеонаблюдения, видеорегистраторы, жесткие диски, защитные кожухи, расходные материалы и все сопутсвующие товары. Очень часто специалист, проводящий замеры сразу может посоветовать оптимальное оборудование и способ расположения камер видеонаблюдения. Это поможет ощутимо сэконмить ваше время и финансы.
                p Торгово-монтажная организация "Sochisat" долгое время находится на таком рынке как установка систем видеонаблюдения. Мы произведем все работы связанные с установкой видеонаблюдения на Вашем обьекте: осуществим проектирование системы, монтаж видеонаблюдения и настройку Если вам нужна установка систем видеонаблюдения в Сочи, обращайтесь к нам по телефонам, указанным на сайте.
                h3 Обслуживание видеонаблюдения
                p Не стоит забывать что ежедневно оборудование подвергается механическим и химическим воздействиям. Чтобы комплект видеонаблюдения прослужил максимально долго и без сбоев требуется обслуживание, частота которого индивидуальна и диктуется внешней средой, а так же качеством установки. Мы производим долгосрочное обслуживание камер видеонаблюдения в Сочи!
                h3 Где необходима установка видеонаблюдения?
                p Видеонаблюдение необходимо для офисных и производственных помещений, магазинов, частных домов и других объектов, которые нуждаются в круглосуточной охране. Установка камер видеонаблюдения значительно повысит уровень безопасности, предотвратит возможные издержки, воровство, акты вандализма и окажет психологическое влияние на злоумышленика. Поможет Вам наблюдать за работой сотрудников тем самым увеличив продуктивность.

