div(class="container marketing b-services-icon m-top-50")

    h2(class="text-center bottom-border-red") Наши услуги
    br
    br

    div(class="row")
        div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")

            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-shopping-cart" style="font-size: 600%")
                    div(class="caption")
                        h3 Продажа </br>
                            small Только лучшее оборудование
                        p

            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-eye-open" style="font-size: 600%")
                    div(class="caption")
                        h3 Аудит </br>
                            small Сокращаем расходы в разы
                        p


        div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-wrench" style="font-size: 600%")
                    div(class="caption")
                        h3 Монтаж </br>
                            small Продление срока службы
                        p


            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                     i(class="glyphicon glyphicon-retweet" style="font-size: 600%")
                     div(class="caption")
                        h3 Обслуживание </br>
                            small Бесперебойная работа
                        p


div(class="how-it-work")
    div(class="container marketing b-services-icon m-top-50")
        h2(class="text-center bottom-border-gold") Почему именно мы?
        br
        br
        div(class="row")
            div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") 2006
                        div(class="caption")
                            h3 На рынке 8 лет </br>
                                small Доверьтесь нашему опыту
                            p
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") <+>
                        div(class="caption")
                            h3 Гарантия </br>
                                small Не работает? Обменяем
                            p
            div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") 400+
                        div(class="caption")
                            h3 Клиентов ежегодно </br>
                                small Люди хотят работать с нами
                            p
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(class="glyphicon glyphicon-thumbs-up" style="font-size: 400%; font-weight: bold; margin-top: 20px")
                        div(class="caption")
                            h3 Регулярные акции </br>
                                small Для постоянных клиентов
                            p
