div(id="b-services" class="container marketing")
    div(class="row")
        div(class="col-lg-6 col-md-6 col-sm-6")
            div(class="col-lg-6 col-md-6 col-sm-12")
                img(src="img/cam.png" alt="Установка видеонаблюдения в Сочи" style="width: 140px; height: 140px;")
                h2 Видеонаблюдение </br>
                    small Монтаж, обслуживание
                p   Продажа профессиональных камер видеонаблюдения в нашем магазине sochisat.
                p
                button(type="button" class="btn btn-default btn-yellow" data-toggle="modal" data-target="#videoSec-modal") Доп. информация
                    span(class="glyphicon glyphicon-chevron-right")

            div(class="col-lg-6 col-md-6 col-sm-12")
                img(src="img/homePhone.png"   alt="Установка домофонов и охранных систем в Сочи" style="width: 140px; height: 140px;")
                h2 Охранные системы </br>
                    small Продажа, монтаж
                p  Домофоны, охранная сигнализация, автоматика для ворот в Сочи.
                p
                button(type="button" class="btn btn-default btn-yellow" data-toggle="modal" data-target="#homeSec-modal") Доп. информация
                    span(class="glyphicon glyphicon-chevron-right")

        div(class="col-lg-6 col-md-6 col-sm-6")
            div(class="col-lg-6 col-md-6 col-sm-12")
                img(src="img/sat.png"  alt="Спутниковое оборудовние. Триколор, НТВ+, ресиверы, монтаж спутниковых тарелок в Сочи" style="width: 140px; height: 140px;")
                h2 ТВ оборудование </br>
                    small Продажа, монтаж, ремонт
                p Антенны, тв приставки, ресиверы, усилители, расходные материалы и все сопутствующее.
                p
                button(type="button" class="btn btn-default btn-yellow" data-toggle="modal" data-target="#tv-modal") Доп. информация
                    span(class="glyphicon glyphicon-chevron-right")


            div(class="col-lg-6 col-md-6 col-sm-12")
                img(src="img/laptop.png" alt="Ремонт ноутбуков в Сочи, Ремонт компьютеров в Сочи, Ремонт телевизоров в Сочи" style="width: 140px; height: 140px;")
                h2 Ремонт пк</br>
                    small Ноутбуков, ЖК мониторов
                p Возможен в нашем сервисе по адресу ул.&nbsp;Конституции 44 г. Сочи
                p
                button(type="button" class="btn btn-default btn-yellow" data-toggle="modal" data-target="#r-modal") Доп. информация
                    span(class="glyphicon glyphicon-chevron-right")

    div(class="modal fade" id="videoSec-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    img(src="img/cam.png" alt="...")
                div(class="modal-body")
                    h2 Системы видеонаблюдения </br>
                        small продажа, монтаж, обслуживание
                    div(class="modal-body-text")
                        p Мы занимаемся установкой систем видеонаблюдения, продажей, монтажом, долгосрочным обслуживанием камер видеонаблюдения и сопутсвующих товаров в Сочи.
                        p Система видеонаблюдения необходима как крупным предприятиям, гос структурам, среднему и малому бизнесу так и частым лицам, которые хотят обезопасить себя, свою семью, дом.
                        p Установка видеонаблюдения в Сочи является необходимостью и значительно повысит уровень безопасности вашего предприятия, предотвратит возможные издержки, поможет Вам наблюдать за работой сотрудников, а так же может оказать психологическое влияение на злоумышленника, предотвратив криминальные действия.
                        p В нашем магазине по адресу: г. Сочи, ул. Конституции 44 можно прибрести внутренние и уличные камеры. В ассортименте имеются как аналоговые камеры, так и беспроводные ip камеры, видеорегистраторы, микрофоны, корпуса, жесткие диски, расходные материалы и многое другое.
                        p Чтобы грамотно установить видеонаблюдение, нужно учитывать уникальные особенности каждой организации. Наши специалисты готовы спроектировать систему видеонаблюдения на Вашем объекте, подобрав максимально подходящее решение, произвести монтаж. Также мы предоставляем услуги долгосрочного обслуживания систем видеонаблюдения.
                        p Защитите себя, свою семью, свой дом и свое дело, с помощью нашей компании — Sochisat
                div(class="modal-footer")
                    button(type="button" class="btn  btn-yellow" data-dismiss="modal") Закрыть
                        span(class="glyphicon glyphicon-chevron-right")

    div(class="modal fade" id="homeSec-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    img(src="img/homePhone.png" alt="...")
                div(class="modal-body")
                    h2 Охранные системы </br>
                        small продажа, монтаж, обслуживание
                    p Система видеонаблюдения необходима предприятиям чтобы предотвратить возможные издержки и пресечь криминальные действия со стороны злоумышленников, а так же частным лицам чтобы обезопасить себя, свою  система видеонаблюдения чтобы сократить издержки на производстве, предотвратить возможные креминальные действия. ( а частым лицам чтобы защитить семью, себя свой дом и тд и тд). Также не стоит забывать что одно наличие системы видеонаблюдения может оказать влияние на злоумышленника и преступление не состоится. В нашем магазине по адресу г. сочи конституции 44 можно купить комнатные и уличные камеры видеонаблюдения, в ассортименте как аналоговые камеры так и беспроводные ip камеры, видеорегистраторы, микрофоны, корпуса, жесткие диски, расходные материалы и многое другое. Так же наши специалисты готовы спроектировать систему видеонаблюдение на вашем обьекте, подобрать оборудование, которое лучше всего подходит для вашего обьекта и произвести монтаж. Так же компания предоставляет услуги долгосрочного обслуживания, что позволит всегда содержать вашу систему безопасности в ... Установка комплексных систем безопасности, охранных систем в Сочи. В нашем магазине по ул Конституции 44, вы можете посмотреть и протестировать различные виды домофонов, сигнализаций и многого другого. Так же доступны турникеты, шлагбаумы, автоматика для ворот. В магазине sochisat можно преобрести домофоны по лучшим ценам в городе и при этом получить гарантию на год.
                div(class="modal-footer")
                    button(type="button" class="btn  btn-yellow" data-dismiss="modal") Закрыть
                        span(class="glyphicon glyphicon-chevron-right")

    div(class="modal fade" id="tv-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    img(src="img/sat.png" alt="...")
                div(class="modal-body")
                    h2 ТВ оборудование </br>
                        small Продажа, монтаж, ремонт
                    p Система видеонаблюдения необходима предприятиям чтобы предотвратить возможные издержки и пресечь криминальные действия со стороны злоумышленников, а так же частным лицам чтобы обезопасить себя, свою  система видеонаблюдения чтобы сократить издержки на производстве, предотвратить возможные креминальные действия. ( а частым лицам чтобы защитить семью, себя свой дом и тд и тд). Также не стоит забывать что одно наличие системы видеонаблюдения может оказать влияние на злоумышленника и преступление не состоится. В нашем магазине по адресу г. сочи конституции 44 можно купить комнатные и уличные камеры видеонаблюдения, в ассортименте как аналоговые камеры так и беспроводные ip камеры, видеорегистраторы, микрофоны, корпуса, жесткие диски, расходные материалы и многое другое. Так же наши специалисты готовы спроектировать систему видеонаблюдение на вашем обьекте, подобрать оборудование, которое лучше всего подходит для вашего обьекта и произвести монтаж. Так же компания предоставляет услуги долгосрочного обслуживания, что позволит всегда содержать вашу систему безопасности в ... Установка комплексных систем безопасности, охранных систем в Сочи. В нашем магазине по ул Конституции 44, вы можете посмотреть и протестировать различные виды домофонов, сигнализаций и многого другого. Так же доступны турникеты, шлагбаумы, автоматика для ворот. В магазине sochisat можно преобрести домофоны по лучшим ценам в городе и при этом получить гарантию на год.
                div(class="modal-footer")
                    button(type="button" class="btn  btn-yellow" data-dismiss="modal") Закрыть
                        span(class="glyphicon glyphicon-chevron-right")

    div(class="modal fade" id="r-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    img(src="img/laptop.png" alt="...")
                div(class="modal-body")
                    h2 Ремонт компьютеров </br>
                        small ноутбуков, тв приставок, жк мониторов
                    p Система видеонаблюдения необходима предприятиям чтобы предотвратить возможные издержки и пресечь криминальные действия со стороны злоумышленников, а так же частным лицам чтобы обезопасить себя, свою  система видеонаблюдения чтобы сократить издержки на производстве, предотвратить возможные креминальные действия. ( а частым лицам чтобы защитить семью, себя свой дом и тд и тд). Также не стоит забывать что одно наличие системы видеонаблюдения может оказать влияние на злоумышленника и преступление не состоится. В нашем магазине по адресу г. сочи конституции 44 можно купить комнатные и уличные камеры видеонаблюдения, в ассортименте как аналоговые камеры так и беспроводные ip камеры, видеорегистраторы, микрофоны, корпуса, жесткие диски, расходные материалы и многое другое. Так же наши специалисты готовы спроектировать систему видеонаблюдение на вашем обьекте, подобрать оборудование, которое лучше всего подходит для вашего обьекта и произвести монтаж. Так же компания предоставляет услуги долгосрочного обслуживания, что позволит всегда содержать вашу систему безопасности в ... Установка комплексных систем безопасности, охранных систем в Сочи. В нашем магазине по ул Конституции 44, вы можете посмотреть и протестировать различные виды домофонов, сигнализаций и многого другого. Так же доступны турникеты, шлагбаумы, автоматика для ворот. В магазине sochisat можно преобрести домофоны по лучшим ценам в городе и при этом получить гарантию на год.
                div(class="modal-footer")
                    button(type="button" class="btn  btn-yellow" data-dismiss="modal") Закрыть
                        span(class="glyphicon glyphicon-chevron-right")


div(class="b-exp container")
    div(class="sochisat-line")



