div(id="b-services" class="container marketing")
    div(class="row")
        div(class="col-lg-6 col-md-6 col-sm-6")
            div(class="col-lg-6 col-md-6 col-sm-12")
                img(src="img/cam.png" alt="Generic placeholder image" style="width: 140px; height: 140px;")
                h2 Видеонаблюдение </br>
                    small Монтаж, обслуживание
                p   Продажа профессиональных камер видеонаблюдения в нашем магазине sochisat.
                p
                button(type="button" class="btn btn-default btn-yellow" data-toggle="modal" data-target="#videoSec-modal") Доп. информация
                    span(class="glyphicon glyphicon-chevron-right")

            div(class="col-lg-6 col-md-6 col-sm-12")
                img(src="img/homePhone.png"   alt="Generic placeholder image" style="width: 140px; height: 140px;")
                h2 Охранные системы </br>
                    small Продажа, монтаж
                p  Домофоны, охранная сигнализация, автоматика для ворот в Сочи.
                p
                a( href="#" type="button" class="btn btn-default btn-yellow") Доп. информация
                    span(class="glyphicon glyphicon-chevron-right")

        div(class="col-lg-6 col-md-6 col-sm-6")
            div(class="col-lg-6 col-md-6 col-sm-12")
                img(src="img/sat.png"  alt="Generic placeholder image" style="width: 140px; height: 140px;")
                h2 ТВ оборудование </br>
                    small Продажа, монтаж, ремонт
                p Антенны, тв приставки, ресиверы, усилители, расходные материалы и все сопутствующее.
                p
                a( href="#" type="button" class="btn btn-default btn-yellow") Доп. информация
                    span(class="glyphicon glyphicon-chevron-right")


            div(class="col-lg-6 col-md-6 col-sm-12")
                img(src="img/laptop.png" alt="Generic placeholder image" style="width: 140px; height: 140px;")
                h2 Ремонт пк</br>
                    small Ноутбуков, ЖК мониторов
                p Возможен в нашем сервисе по адресу ул.&nbsp;Конституции 44 г. Сочи
                p
                a( href="#" type="button" class="btn btn-default btn-yellow") Доп. информация
                    span(class="glyphicon glyphicon-chevron-right")

    div(class="modal fade" id="videoSec-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-title")
                    img(src="img/cam.png" alt="...")
                div(class="modal-body") Система видеонаблюдения необходима предприятиям чтобы предотвратить возможные издержки и пресечь криминальные действия со стороны злоумышленников, а так же частным лицам чтобы обезопасить себя, свою  система видеонаблюдения чтобы сократить издержки на производстве, предотвратить возможные креминальные действия. ( а частым лицам чтобы защитить семью, себя свой дом и тд и тд). Также не стоит забывать что одно наличие системы видеонаблюдения может оказать влияние на злоумышленника и преступление не состоится. В нашем магазине по адресу г. сочи конституции 44 можно купить комнатные и уличные камеры видеонаблюдения, в ассортименте как аналоговые камеры так и беспроводные ip камеры, видеорегистраторы, микрофоны, корпуса, жесткие диски, расходные материалы и многое другое. Так же наши специалисты готовы спроектировать систему видеонаблюдение на вашем обьекте, подобрать оборудование, которое лучше всего подходит для вашего обьекта и произвести монтаж. Так же компания предоставляет услуги долгосрочного обслуживания, что позволит всегда содержать вашу систему безопасности в ... Установка комплексных систем безопасности, охранных систем в Сочи. В нашем магазине по ул Конституции 44, вы можете посмотреть и протестировать различные виды домофонов, сигнализаций и многого другого. Так же доступны турникеты, шлагбаумы, автоматика для ворот. В магазине sochisat можно преобрести домофоны по лучшим ценам в городе и при этом получить гарантию на год.


div(class="b-exp container")
    div(class="sochisat-line")



