.marketing {
  padding-top: 10px;
  margin-top: 20px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
}
.marketing h2 {
  font-family: 'Roboto';
  font-weight: normal;
  text-align: center;
}


.marketing
  text-align: center;

.marketing .col-lg-3 p
  margin: 10px 30px 0 30px !important;
  text-align: left;


.marketing .circle
  border-radius: 100px;
  .circle-blue
    background: #5e91c1
