div(class="container marketing")
    div(class="row")
        div(class="col-lg-4")
            img(class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 Профессиональное видеонаблюдение в Сочи
            p  Продажа, проектирование, монтаж, обслуживание комплексных систем безопасности в городе Сочи.  Организация контроля и доступа к управлению охраняемым объектом через Интернет из любой точки мира. Оповещение о движении на охраняемом объекте с помощью СМС сообщения и дозвона на заранее запрограммированные телефонные номера, в том числе 02. Беспроводные видеокамеры, микрофоны, датчики, поворотные камеры видеонаблюдения, видеорегистраторы, платы видео/аудио захвата и многое другое.
            p
                a(class="btn btn-default" href="#" role="button") View details »

        div(class="col-lg-4")
            img(class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 Продажа спутникового оборудования в Сочи
            p Единственная фирма в Сочи с таким ассортиментом тематической продукции. У нас представлены основные производители спутниковых антенн, спутниковых ресиверов, оборудования для спутникового интернета и всего сопутствующего спутникового оборудования, а также большой ассортимент эфирных антенн, усилителей. Для интересующихся спутниковым интернетом, у нас также найдется все. Для Вас представлены DVB-S2 приемники нескольких типов и производителей, позволяющих получить доступ к высокоскоростному интернету с любых спутников.
            p
                a(class="btn btn-default" href="#" role="button") View details »

        div(class="col-lg-4")
            img(class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 Ремонт компьютеров в Сочи
            p Ремонт компьютеров в Сочи – новое и перспективное направление работы нашей компании. Грамотные специалисты проведут полную диагностику вашего компьютера, устранят любые проблемы, проведут установку и настройку программ и оборудования в короткие сроки. Также мы осуществляем ремонт ноутбуков и нетбуков в Сочи. Ремонт осуществляется как в нашей мастерской, так и на дому или в офисе. Уникальная услуга компании СочиСат - ремонт ЖК-мониторов в Сочи. Это сложная и деликатная работа, но будьте уверены - вы можете доверить её нашим квалифицированным специалистам.
                a(class="btn btn-default" href="#" role="button") View details »
