div(class="container marketing")
    div(class="row")
        div(class="col-lg-4")
            img(class="img-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 Охранные системы </br>
                small Продажа, монтаж, обслуживание
            p  Видеонаблюдение, домофоны, охранная сигнализация, автоматика для ворот в Сочи.
            p  Организация смс оповещений и дозвона на запрограмированные номера в случае движения на обьекте
            p
                a(class="btn btn-default" href="#" role="button") Детали »

        div(class="col-lg-4")
            img(class="img-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 ТВ оборудование </br>
                small Продажа, монтаж, гарантия 1 год
            p Cпутниковое и эфирное оборудоание: антенны, тв приставки, ресиверы, усилители, расходные материалы и все сопутствующее.
            p Самый богатый ассортимент и лучшие цены в городе Сочи!
            p
                a(class="btn btn-default" href="#" role="button") Детали »

        div(class="col-lg-4")
            img(class="img-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 Ремонт компьютеров </br>
                small Ноутбуков, жк мониторов, тв приставок
            p Возможен в нашем сервисе по адресу ул.&nbsp;Конституции 44 г. Сочи
            p Грамотные специалисты проведут полную диагностику и качественно справятся с задачами любой сложности.
            p
                a(class="btn btn-default" href="#" role="button") Детали »
