div(class="container marketing")
    div(class="row")
        div(class="col-lg-3 col-md-3 col-sm-6")
            img(src="img/cam.png" alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 Видеонаблюдение </br>
                small Монтаж, обслуживание
            p   Продажа профессиональных камер видеонаблюдения в нашем магазине sochisat.

        div(class="col-lg-3 col-md-3 col-sm-6")
            img(src="img/homePhone.png"   alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 Охранные системы </br>
                small Продажа, монтаж
            p  Домофоны, охранная сигнализация, автоматика для ворот в Сочи.

        div(class="col-lg-3 col-md-3 col-sm-6")
            img(src="img/sat.png"  alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 ТВ оборудование </br>
                small Продажа, монтаж, ремонт
            p Антенны, тв приставки, ресиверы, усилители, расходные материалы и все сопутствующее.
            p Самый богатый ассортимент и лучшие цены в городе Сочи!
           // p
                a(class="btn btn-default" href="#" role="button") Детали »

        div(class="col-lg-3 col-md-3 col-sm-6")
            img(src="img/laptop.png" alt="Generic placeholder image" style="width: 140px; height: 140px;")
            h2 Ремонт пк</br>
                small Ноутбуков, ЖК мониторов
            p Возможен в нашем сервисе по адресу ул.&nbsp;Конституции 44 г. Сочи
            p Грамотные специалисты проведут полную диагностику и качественно справятся с задачами любой сложности.
            //p
                a(class="btn btn-default" href="#" role="button") Детали »

