div(class="header")
    nav(class="navbar navbar-default" role="navigation")
        div(class="container")
            div(class="container-fluid")
                div(class="navbar-header hidden-xs")
                    a(class="logo navbar-brand")
                        img(src="img/logo.png" style="max-height: 40px;")

                //phones
                div(class="visible-xs")
                    ul(class="nav nav-xs navbar-nav col-xs-12 mainMenu")

                        a(class="logo navbar-brand col-xs-2")
                            img(src="img/logoXS.png" style="max-height: 30px")

                        li(class="active col-xs-4")
                            a(href="/") О компании

                        li(class="dropdown col-xs-3")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Услуги
                                span( class="caret")
                            ul(class="dropdown-menu" role="menu")
                                li
                                    a(href="cctv.html") Видеонаблюдение
                                li
                                    a(href="intercoms.html") Домофоны



                        li(class="col-xs-3")
                            a(data-toggle="modal" data-target="#information-modal") Контакты

                //tablets and desktops
                div(class="hidden-xs")
                    ul(class="nav navbar-nav main-menu")

                        li
                            a(href="/") О компании
                        li(class="dropdown")

                            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Услуги
                                span( class="caret")

                            ul(class="dropdown-menu" role="menu")
                                li
                                    a(href="cctv.html") Видеонаблюдение
                                li
                                    a(href="intercoms.html") Домофоны
                                li
                                    a(href="sec.html") Охранные сигнализации


                        li
                            a(data-toggle="modal" data-target="#information-modal") Контакты


                    ul(class="nav navbar-nav navbar-right hidden-sm")
                        li
                            a(class="glyphicon contact glyphicon-envelope")  sochisat@mail.ru
                        li
                            a(class="glyphicon contact glyphicon-phone-alt")  8(862)237-27-30
                        li
                            a(class="glyphicon contact glyphicon-earphone")  8(918)601-41-81

div(class="margin-header")




