div(class="b-header container")
    h1 SochiSat </br>
        small Слаботочные системы


    // div(class="container")
        nav(class="navbar navbar-default" role="navigation")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span( class="sr-only") Toggle navigation
                        span( class="icon-bar")
                        span( class="icon-bar")
                        span( class="icon-bar")
                    a(class="navbar-brand" href="#") SochiSat
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav navbar-right b-header contacts")
                       // li
                            ul
                                li адрес: ул. Конституции 44
                                li почта: sochisat.ru@mail.ru
                      // li
                            ul
                                li тел. 8(862) 237-27-30
                                li тел. 8(918) 601-41-81

