.b-header
  position: fixed;
  z-index: 20;
  margin-bottom: 30px;
  font-family: 'Roboto';
  min-width: 100%;

.b-header
  .red-color
    color: #af1f1a;
    font-weight: bold;

@media (max-width: 1024px)
  .b-header h1
    font-size: 300%;





