div(class="b-header")
    nav(class="navbar navbar-default" role="navigation")
        div(class="container")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                         span(class="sr-only")
                         span(class="icon-bar")
                         span(class="icon-bar")
                         span(class="icon-bar")
                    a(class="logo navbar-brand") SOCHI<color class="red-color">SAT</color>

                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav hidden-sm")
                        li(class="active")
                            a(href="#b-about") О компании
                         li
                            a(href="#b-comments") Отзывы


                    ul(class="nav navbar-nav navbar-right")
                        li
                            a(class="glyphicon glyphicon-envelope" href="#")  mail@sochisat.ru
                        li
                            a(class="glyphicon glyphicon-phone-alt" href="#")  8(862)237-27-30
                        li
                            a(class="glyphicon glyphicon-earphone" href="#")  8(918)601-41-81

