.b-header
  position: fixed;
  z-index: 22;
  margin: 0 0 30px 0;
  font-family: 'Roboto';
  min-width: 100%;
  padding: 0;


.b-header
  .red-color
    color: #af1f1a;
    font-weight: bold;


.b-header .logo
  margin-top: -10px;
  font-size: 170%;


.b-header nav
  min-height: 0px;
  background: #ffffff;
  border-radius: 0px !important;

.b-header nav:after
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  background: #fff;
  content: '';
  opacity: 0.3;
  z-index: 90;

.b-header .contact:hover, .b-header .contact
    color: #282828 !important;

@media (max-width: 1024px)
  .b-header .logo
    font-size: 150%;