.b-header
  position: fixed;
  z-index: 20;
  margin-bottom: 30px;
  font-family: 'Roboto';
  min-width: 100%;

.b-header
  .red-color
    color: #af1f1a;
    font-weight: bold;


.b-header .logo
  font-size: 150%;





