div(class="b-footer-contacts")
    div(class="container")
        div(class="row")
            ul(class="col-md-3")
                li тел. 8(862) 237-27-30
                li тел. 8(918) 601-41-81

            ul(class="col-md-3")
                li адрес: г. Сочи, ул. Конституции 44
                li почта: sochisat.ru@mail.ru
                li почта: mail@sochisat.ru




div(class="b-footer-map")
    script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NJO1Ab9-r_efpwA4Af8RV8u1D8G5MAcG&width=1376&height=450")
