div(class="b-exp container text-center m-top-20")
    div(class="sochisat-line")

br
div(class="map m-top-50")
    script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NJO1Ab9-r_efpwA4Af8RV8u1D8G5MAcG&width=10&height=10")
