div(class="container text-center")
    div(class="sochisat-line")
        p
            br
            kbd(class="no-border-radius") Sochiast 2006 - 2014
        a(href="http://www.sochisat.ru/video.html") Старая версия сайта
      