div(class="b-about container wrapper")

    div(class="row")
        div(class="col-lg-8 col-lg-offset-2  content")

            blockquote(style="font-size: 90%;")
                h2 Домофоны в Сочи
                p Организация "СочиСэт" оказывает комплекс услуг от продажи до монтажа домофонов в Сочи.
                p Проконсультироваться по вопросам цен и технических характеристик, а так же купить домофон Вы всегда можете в магазине «СочиСэт». Или по телефонам горячей линии
                p Мы подберем наилучший для Вас вариант и проведем качественную установку домофона в Сочи и за его пределами.
                p Домофон - это радиоэлектронное переговорное устройство, которое помогает обеспечивать безопасность в жилых и производственных помещениях.
                p Он дает возможность внутри здания услышать и даже увидеть визитера, без непосредственного контакта.
                p Всегда в наличии: аудиодомофоны - более простые и доступные. Чаще всего устанавливаются в многоабоненских объектах (подьезды, склады), видеодомофоны - передают видеосигнал и позволяют получить наиболее подробную информацию о происходящем снаружи.
                p Домофонная связь позволяет создавать масштабируемые системы, т.к на этапе проектирвоания и строительства потребности сформулированы не в полной мере.
                p Домофоны обеспечивают безопасность вашему дому, к тому же удобны в пользовании магнитной дверью.
                p Особенным спросом пользуются домофоны, устанавливаемые в многоквартирных жилых помещениях. Их устанавливают с целью защиты подъезда. Обычно это аудиодомофоны. Зайти в дом возможно только при использовании электронного ключа, либо при наборе уникального кода.
                p Хорошей альтернативой для коттеджей, дач и загородных домов является видеодомофон.
                p Отдельные типы домофонов способны одновременно подключаться к нескольким вызывным панелям и мониторам. В дополнение к основной камере можно подключить дополнительные, чтобы расширить угол обзора из вашей квартиры.
                p Монтаж домофонов в Сочи. В темное время суток особенно важно качество изображения на экране, но у камер есть свой порог светочувствительности. Современные домофоны снабжены инфракрасной подсветкой. Излучение ИК пластины позволит увидеть четкую картину за вашей входной дверью.
                p Зачастую одновременно с домофоном устанавливают электромагнитный или электромеханический замок, который позволяет отслеживать и контролировать посещения вашего дома. Вы сможете упрявлять вашей входной дверью, находясь в помещении. Возможны множество вариантов открытия замков с помощью специального контроллера: электронные ключи, радиобрелки и т.д. Какой именно ключ необходим вам, зависит от контроллера, который вы установили.








