div(class="b-slider" class="hidden-xs")
    div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
        div(class="carousel-inner ")
            div(class="item cctv active")
                img(src="img/slides/homePhone.jpg" alt="...")
                div(class="carousel-caption verical fadein row")
                    div(class="col-lg-6  col-md-6  col-sm-6")
                        form(class="form-inline" role="form")
                            div(class="visible-lg")
                                h1 Домофоны в Сочи</br>
                                p( class="text-right") Продажа, монтаж, ремонт
                            h3 Перезвонить Вам?
                            div(class="form-group")
                                input(type="email" class="form-control input-lg" id="form-name" placeholder="ФИО")
                                br
                                input(type="email" class="form-control input-lg" id="form-contacts" placeholder="Email или телефон")
                                button(type="button" class="btn btn-primary btn-lg btn-block") Отправить
