.b-slider

  padding-top: 50px;
  overflow: hidden;
  max-height: 606px;
  padding-top: 15px;
  border-bottom: 1px solid #000000;
  background: #3c3c3c url(../img/bgslider.png) repeat;

.b-slider .carousel-control
  z-index: 20;

.b-slider .carousel-caption
  top: 15%;


.b-slider .sliderHeader
  text-align left
.b-slider .carousel-caption h2
  font-weight: bold


.b-slider .building .text-gold
    color: #fbb50d
    margin: 0;

.b-slider .carousel-caption h2 small


.b-slider .homeSec .carousel-caption
  left: -30%;
  top: -10%;
  small
    color: #303030
    padding: 10px;

.b-slider .sat .carousel-caption .sat-small
  color: #FFFFFF
.b-slider img
  max-height: 606px;


.b-slider video
  min-width: 100%;
  position: absolute;
  top: -300px;


.b-slider > *
  max-height: 540px;
  overflow: hidden;

.b-slider .carousel-caption h1

  margin-bottom: 0px;






@media (max-width: 970px)
  .b-slider .carousel-caption
    padding-bottom: 30px;
    right: 10%;
    left: 10%;
    top:5%;







@media (max-width: 1400px)
  .b-slider .carousel-caption
    h1
      font-size: 250%
    p
      font-size: 150%;


@media (min-width: 1401px)

  .b-slider .carousel-caption
    h1
      font-size: 350%
    p
      font-size: 150%;

@media (max-width: 1100px)
  .b-slider .carousel-caption
    h1
      font-size: 150%
    p
      font-size: 100%;