.b-slider
  overflow: hidden;
  max-height: 606px;
  padding-top: 15px;
  border-bottom: 2px solid #3c3c3c;

.b-slider .carousel-control
  z-index: 100500;
.b-slider .carousel-caption
  top: 30%;

.b-slider .carousel-caption h2
  font-weight: bold


.b-slider .building h2
  small
    background: #434343;
    padding: 10px;

.b-slider .videoSec .carousel-caption h2
  background: none repeat scroll 0% 0% #F33;
  transform: skewY(-5deg);
  backface-visibility: hidden;


.b-slider .homeSec .carousel-caption
  left: -30%;
  small
    color: #303030
    padding: 10px;

.b-slider .sat .carousel-caption .sat-small
  color: #FFFFFF
.b-slider img
  max-height: 606px;


.b-slider video
  min-width: 100%;
  position: absolute;
  top: -300px;


.b-slider > *
  max-height: 540px;
  overflow: hidden;


@media (min-width: 1200px)
  .b-slider .carousel-caption h2
    font-size: 400%


@media (min-width: 1921px)
  .b-slider
    width: 1920px;
    margin: 0 auto