div(class="modal fade" id="information-modal" tabindex="-1" role="dialog" aria-labelledby="Реквизиты" aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal")
                    span(aria-hidden="true") &times;
                    span(class="sr-only") Закрыть
                h4(class="modal-title")  Реквизиты
            div(class="modal-body")
                dl(class="dl-horizontal")
                    dt ИП
                    dd Клочков Владимир Владимирович
                    dt ИНН
                    dd 233008524609
                    dt ОГРНИП
                    dd 314237328000031
                dl(class="dl-horizontal")
                    dt Телефон
                    dd 8(862)237-27-30
                    dt Телефон
                    dd 8(918)601-41-81
                    dt Адрес
                    dd г.Сочи, ул.Конституции 44
                    dt Email
                    dd sochisat@mail.ru
                dl(class="dl-horizontal")
                    dt Банк
                    dd Филиал «Южный» ОАО «УРАЛСИБ»
                    dt БИК
                    dd 040349700
                    dt Р./сч.
                    dd 40802810247030000004
                    dt К./сч.
                    dd 30101810400000000700

            div(class="modal-footer")
                button(type="button" class="btn btn-default btn-yellow" data-dismiss="modal") Закрыть
                    span(class="glyphicon glyphicon-chevron-right")
