.b-employees
  padding-top: 10px;
  padding-bottom: 20px;

.b-employees .emps > img
  margin: 5px;
//@media (max-width: 1376px)

.b-employees .new-emp-form textarea
  resize: none;


.b-employees .new-emp-form > *
  margin-top: 10px;


@media (max-width: 1024px)
  .b-employees .emps
      margin: 0 auto !importanrt;

