div(class="b-employees" id="b-employees")
    div(class="container")
        h3(class="text-center") Хотите сотрудничать?
        div(class="row")
                div(class="col-lg-6 emp-span")
                    p Тогда просто заполните форму и нажмите "Отправить". Мы свяжимся с Вами в ближайшее время. Также можно позвонить по телефонным номерам выше
                    p

                div(class="col-lg-6 new-emp-form")
                        div(class="input-group")
                            span(class="input-group-addon") Как к Вам обращаться?
                            input(type="text" class="form-control" placeholder="Анатолий Сергеевич")

                        div(class="input-group")
                            span(class="input-group-addon") Ваш телефон или email
                            input(type="text" class="form-control" placeholder="mail@sochisat.ru")

                        textarea(class="form-control" rows="4" placeholder="Доброго времени суток! \r\nЯ хочу сотрудничать с вами на условиях монтажника.")



